- name: Install liblz4-dev
  apt:
    update_cache: yes
    pkg:
      - liblz4-dev

- name: Import Debian 12 install tasks
  import_tasks: install_deb12.yml
  when: ansible_distribution_major_version | int < 13

- name: Import Debian 13+ install tasks
  import_tasks: install_deb13.yml
  when: ansible_distribution_major_version | int >= 13
