- name: install chromium package
  apt:
    update_cache: yes
    pkg:
      - chromium

- name: Check if chromium.desktop exists
  stat:
    path: /usr/share/applications/chromium.desktop
  register: chromium_desktop_stat

- name: Update Exec line if chromium.desktop exists
  become: yes
  lineinfile:
    path: /usr/share/applications/chromium.desktop
    regexp: '^Exec='
    state: present
    line: 'Exec=/usr/bin/chromium %U --ozone-platform=wayland'
  when: chromium_desktop_stat.stat.exists
