#!/bin/sh

#
# be sure to source this file in your shell
#

{{ ansible_managed | comment('plain') }}

export GOROOT='{{ golang_install_dir }}'
export PATH=$GOROOT/bin:$PATH

export GOPATH="$HOME/.go-workspace"
export PATH=$GOPATH/bin:$PATH
