#!/usr/bin/env zsh
# {{ansible_managed}}

source /home/{{username}}/.zshrc

export L="/home/{{username}}/.local/bin";
export S="{{vale_download_url}}"

# download vale
mkdir -p $L;
wget -P $L $S;
tar xf $L/vale_2.18.0_Linux_64-bit.tar.gz -C $L;
rm $L/vale_2.18.0_Linux_64-bit.tar.gz;

# ensure value config exists
if [ ! -f $HOME/.config/nvim/conf/vale.ini ]; then
  echo "Vale config not found" >&2
  exit 1
fi

# remove unwanted files from bin
export BIN="/home/{{username}}/.local/bin"
rm -f $BIN/README.md
rm -f $BIN/LICENSE
