- name: Install essential packages
  apt:
    update_cache: yes
    pkg:
      - bat
      - build-essential
      - curl
      - dnsutils
      - fd-find
      - foot-terminfo
      - fzf
      - jq
      - git
      - htop
      - lsd
      - lshw
      - man
      - network-manager
      - pinentry-curses
      - pinentry-tty
      - pkexec
      - psmisc
      - ripgrep
      - starship
      - systemd-timesyncd
      - smartmontools
      - build-essential
      - tmux
      - tree
      - wget
      - zsh

# zshell
- name: Check if zsh is installed
  stat:
    path: /usr/bin/zsh
  register: zsh_binary_stat

- name: Set zsh to be the default shell
  user:
    name: '{{username}}'
    shell: /usr/bin/zsh
  when: zsh_binary_stat.stat.exists
