- name: Check if Deno is already installed
  stat:
    path: '/home/{{username}}/.deno'
  register: deno_directory

- block:
    - name: Download Deno installation script using curl
      shell: |
        curl -L https://deno.land/install.sh -o "{{ deno_install_script_location }}"
      args:
        creates: "{{ deno_install_script_location }}"

    - name: Set permissions on Deno install script
      file:
        path: "{{ deno_install_script_location }}"
        mode: '0755'
        owner: "{{ username }}"
        group: "{{ username }}"
      become: true

    - name: Run Deno installation script
      become: yes
      become_user: '{{ username }}'
      command:
        cmd: '{{ deno_install_script_location }} --no-modify-path --yes'
        creates: '/home/{{username}}/.deno'
  when: not deno_directory.stat.exists
