[Desktop Entry]
Name=OrcaSlicer
Comment=3D printer slicer
Exec=/usr/local/bin/orca-slicer %F
Icon=OrcaSlicer
Type=Application
Terminal=false
PrefersNonDefaultGPU=true
Categories=Graphics;3DGraphics;Engineering;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
