[Unit]
Description=OpenSSH Agent
Documentation=man:ssh-agent(1)
Before=graphical-session-pre.target
Wants=dbus.socket
After=dbus.socket

[Service]
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=ssh-agent -D -a %t/ssh-agent.socket
ExecStartPost=export SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStop=ssh-agent -k

[Install]
WantedBy=multi-user.target
